<div class="mt-5 container  w-100">
  <div class="d-flex flex-wrap justify-content-between">
    
    <!-- Intro -->
    <div class="mb-3">
      <h5>
        <i class="fa-brands fa-docker me-2"></i>
        Dish-Delight
      </h5>
      <p>
        Designed and built with all the love in the world by the Luminar team with the help of our contributors.
      </p>
      <p>Code Licensed Luminar, docs cc BY 3.0</p>
      <p>Currently v5.3.2.0</p>
    </div>

    <!-- Links -->
    <div class="d-flex flex-column mb-3">
      <h5>Links</h5>
      <a routerLink="/">Home</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/register">Register</a>
    </div>

    <!-- Guides -->
    <div class="d-flex flex-column mb-3">
      <h5>Guides</h5>
      <a href="https://angular.io/" target="_blank" rel="noreferrer">Angular</a>
      <a href="https://angular.io/guide/router" target="_blank" rel="noreferrer">Angular Router</a>
      <a href="https://ng-bootstrap.github.io/" target="_blank" rel="noreferrer">ng-bootstrap</a>
    </div>

    <!-- Contact -->
    <div class="d-flex flex-column mb-3">
      <h5>Contact</h5>
      <div class="d-flex mb-2">
        <input
          placeholder="Enter your email here"
          type="email"
          class="form-control me-2"
        />
        <button class="btn btn-info">
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
      <div class="d-flex justify-content-between">
        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        <a href="#"><i class="fa-brands fa-github"></i></a>
        <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
        <a href="#"><i class="fa-solid fa-phone"></i></a>
      </div>
    </div>

  </div>

  <p class="text-center mt-3">
    &copy; July 2024 Batch, Media Player App. Built with Angular.
  </p>
</div>
