<app-header></app-header>

<div class="container">
    <div style="height: 400px;" class="row">
        <div class="col-lg-6 bg-success">
            <img width="100%" src="https://www.pngarts.com/files/10/Food-Items-PNG-Free-Download.png" alt="">
        </div>
        <div class="col-lg-6" style="margin-top:100px" >
            <h1>welcome to <span class="text-warning">Recipe-World</span></h1>
            <p>Discover 100+ recipes in your hand with the best recipe provider</p>
        </div>
    </div>
    <div class="row align-items-center my-5 mt-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
            <h1>About Us</h1>
            <p style="text-align: justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore cum aut voluptates numquam, perferendis quidem quod ut quaerat dolores quo dolor natus vero atque ea nulla saepe quia explicabo hic. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, sit? Ducimus blanditiis voluptas nam nesciunt minus perspiciatis sunt obcaecati impedit unde reprehenderit aliquam, ipsa iusto, nobis quis possimus, commodi vero!
            </p>
            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</li>
                <li>Tenetur labore architecto quidem modi quasi eveniet voluptatem molestiae,</li>
                <li>totam, itaque, asperiores ratione fugit! Debitis ut cupiditate facilis id nemo non saepe.</li>
                <li>veritatis, inventore at repellat maxime, voluptatibus nam omnis officiis ex neque ratione quae cumque?</li>
            </ul>
        </div>
        <div class="col-lg-6 mt-5 image-fluid">
            <img src="https://png.pngtree.com/png-clipart/20220705/ourmid/pngtree-illustration-of-male-chef-png-image_5683388.png" alt="">
        </div>
    </div>
</div>
